<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5">
   
  <!-- Load ApplicationContext -->
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:applicationContext.xml,classpath:applicationContext-quartz.xml</param-value>
  </context-param>
  
  <!-- Spring MVC Servlet -->
  <servlet>
    <servlet-name>dmc-admin</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/spring-mvc.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>dmc-admin</servlet-name>
    <url-pattern>*.action</url-pattern>
  </servlet-mapping>
  
  <!-- Character Encoding filter-->
  <filter>
	<filter-name>encodingFilter</filter-name>
	<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
	<init-param>
		<param-name>encoding</param-name>
		<param-value>UTF-8</param-value>
	</init-param>
	<init-param>
		<param-name>forceEncoding</param-name>
		<param-value>true</param-value>
	</init-param>
  </filter>
  <filter-mapping>
	<filter-name>encodingFilter</filter-name>
	<url-pattern>/*</url-pattern>
	<dispatcher>REQUEST</dispatcher>
	<dispatcher>FORWARD</dispatcher>
  </filter-mapping>
   
  
  
  <!-- Gzip Filter
  <filter>
	<filter-name>GZIPFilter</filter-name>
    <filter-class>com.ihangmei.dmc.admin.filter.GZIPFilter</filter-class>
  </filter>
  <filter-mapping>
	<filter-name>GZIPFilter</filter-name>
	<url-pattern>/</url-pattern>
  </filter-mapping>
   -->
  <!-- 登陆 Filter -->
	<filter>
		<filter-name>LoginFilter</filter-name>
		<filter-class>com.ihangmei.dmc.admin.filter.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>*.html</url-pattern>
	</filter-mapping>
	<filter-mapping>  
		<filter-name>LoginFilter</filter-name>  
		<url-pattern>*.action</url-pattern>  
	</filter-mapping>  
  
  <welcome-file-list>
	<!-- 默认进入login.html -->
	<welcome-file>login.html</welcome-file>
</welcome-file-list>
   <!-- Customed init service -->
  <listener>
    <listener-class>com.ihangmei.dmc.admin.InitService</listener-class>
  </listener>
  
  <!-- 临时启用tomcat basic认证  start-->
<!-- 
  <security-constraint>
      <web-resource-collection>
          <web-resource-name>Restricted Area</web-resource-name>
          <url-pattern>/*</url-pattern>
      </web-resource-collection>
     <auth-constraint>
         <role-name>manager</role-name>     
         <role-name>admin</role-name> 
     </auth-constraint>
  </security-constraint>

  <login-config>
     <auth-method>BASIC</auth-method>
     <realm-name>Authenticate</realm-name>
  </login-config>
 --> 
  <!-- 临时启用tomcat basic认证  start-->
</web-app>